<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Nlog\logs\internalLog.txt">
	<targets>
		<!-- database -->
		<target name="database" xsi:type="Database" keepConnection="true"
				dbProvider="System.Data.SqlClient"
				connectionString="Data Source=DESKTOP-IH2SMGI;Initial Catalog=Nlog;Integrated Security=true;"
				commandText="INSERT INTO Logs(EventDateTime, EventLevel, MachineName, EventMessage) VALUES (@EventDateTime, @EventLevel, @MachineName, @EventMessage)">

			<!-- parameters for the command -->
			<parameter name="@EventDateTime" layout="${date:s}" />
			<parameter name="@EventLevel" layout="${level}" />
			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@EventMessage" layout="${message}" />
		</target>
	</targets>
	<rules>
		<!-- logging rules here -->
		<logger name="*" minlevel="Info" writeTo="database" />
		<logger name="*" minlevel="Error" writeTo="database" />
	</rules>
</nlog>
